@model IEnumerable<IspitTodo.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeFinished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Todolist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
                @if(item.TimeFinished == default(DateTime))
                {
                    <td>
                        N/A
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeFinished)
                    </td>   
                }
            <td>
                    <a class="nav-link text-dark" href="/Todolist/Details/@item.TodolistId">@Html.DisplayFor(modelItem => item.Todolist.Name)</a>
            </td>
            <td>
                <!----<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>--->
            </td>
        </tr>
}
    </tbody>
</table>
